.img1{
	border-radius:50%;
	border:solid black;
}

.img1:hover{
	border-color:red;
	border-radius:45%;
}

.tr1{
	color:white;
	
}
tr{
height:30px;
}

a{
	background-color:#906723;
	color:#ffffff;
	text-decoration:none;
	padding:5px;
	border-radius:10px;
	
}
a:hover
{
	background-color:#cccccc;
	color:#000;
}